<html>

<head>
    <title>梦想之都网站</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body
        {
            background-image: url("img/3.jpg");
            min-height: 400px;
            width: auto;
            object-fit: cover;
            vertical-align: middle;
            backdrop-filter: blur(5px);
        }
    </style>

    
</head>

<body>
    <div id = "loginFrame" class="shadow-lg p-3 mb-5" style="position:absolute;left: 50%;top: 30%;margin: -100px 0 0 -200px;border-radius: 10px; width: 400px; height: 450px; background-color: rgb(255, 255, 255); border-width: 3px;border-color: coral;">
        <form class="form-signin">
            <img class="mb-4" src="img/logo.jpg" alt="" width="72" height="72">
            <span><a style="font-size: 20px;"><strong>梦想之都官网登录/游戏内注册</strong></a></span>
            <h1 class="h5 mb-3" style="color: rgb(0, 0, 0);"><strong></strong></h1>
            <label for="inputEmail" class="sr-only">Username</label>
            <input v-model="userInfo.username" type="email" id="inputEmail" class="form-control" placeholder="注册时邮箱/服务器ID" required autofocus style="margin-bottom: 25px;">
            <label for="inputPassword" class="sr-only">Password</label>
            <input v-model="userInfo.password" type="password" id="inputPassword" class="form-control" placeholder="密码" required>

            <div class="checkbox mb-3" style="margin-top: 10px;">
              <label>
                <input type="checkbox" value="remember-me"> 记住我
              </label>
              <label style="float: right;">
                <a href="register.html">->快速注册服务器账号</a>
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="opacity:0.8;width: 50%;margin: 10 auto;" @click = "demo">登录</button>
            <p class="mt-5 mb-3 " style="color: rgb(0, 0, 0);"><strong>&copy; 2015 - 2022</strong></p>
        </form>
    </div>
    
</body>

<script type="text/javascript">
    $(document).ready(function()
    {
        console.log("gg");
        $("#loginFrame").fadeIn();
    });

</script>

<script type="text/javascript">
    Vue.config.productionTip= false;

    new Vue({
        el: '#loginFrame',
        data: {
            userInfo: {
                username: '',
                password: '',
            }
        },
        methods: {
            demo()
            {
                let param = new URLSearchParams()

                param.append('username', this.userInfo.username)
                param.append('password', this.userInfo.password)
                console.log(this.userInfo.username)
                axios({
                    method: 'post',
                    url: '/login',
                    data: param,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(function(res){
                    console.log(res.data);//处理成功的函数 相当于success
                }).catch(function(error){
                    console.log(error)//错误处理 相当于error
                })
            }
        }
    });

</script>
</html>